@model SquadManager.Models.UserViewModel

<link href="~/css/login.css" rel="stylesheet" />


<div class="auth-container">
    <section>
        <h1>Login</h1>

        <div class="form-container">
        <form>
            <input type="text" id="email" name="email" value="@Model.Email" placeholder="Username/E-mail" />
            <input type="password" required id="password" name="password" value="@Model.Password" placeholder="Password" />
            <a href="#">Esqueceu a Senha?</a>
            <button type="submit" onclick="login(evento);">Login</button>
        </form>
        </div>
        <label>
            Não tem conta?<a href="#">Crie aqui!</a>
        </label>
    </section>
</div>

<a href="~/lib/jquery/dist/jquery.min.map">~/lib/jquery/dist/jquery.min.map</a>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/login.js"></script>